---
http_interactions:
- request:
    method: post
    uri: https://auth-staging.galvanize.com/api/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=<AUTH_CLIENT_ID>&client_secret=<AUTH_CLIENT_SECRET>&scope=user.read
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c301ba0f02f453bb7fe2ede176c48ca"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJHYWx2YW5pemUiLCJpYXQiOjE1MDIzODM3NzksImp0aSI6IjdhNDYyMzMzNmU4ZWRlOWUyMjRkOTIxY2JlZTAzYzhlIiwiZXhwIjoxNTAyMzkwOTc5fQ.FWHcR57-Yn32_RtfdxMKzh1WK-HFn2vx7VaQmbiIjBTO0lqKZUHK3nNEX_2W1aD4Z0akLCjcCLbV7bAC0DjejA","token_type":"bearer","expires_in":7200,"scope":"user.read","created_at":1502383779}'
  recorded_at: Thu, 10 Aug 2017 16:49:39 GMT
- request:
    method: get
    uri: https://auth-staging.galvanize.com/api/v1/users/003V000000VLPZCIA5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJHYWx2YW5pemUiLCJpYXQiOjE1MDIzODM3NzksImp0aSI6IjdhNDYyMzMzNmU4ZWRlOWUyMjRkOTIxY2JlZTAzYzhlIiwiZXhwIjoxNTAyMzkwOTc5fQ.FWHcR57-Yn32_RtfdxMKzh1WK-HFn2vx7VaQmbiIjBTO0lqKZUHK3nNEX_2W1aD4Z0akLCjcCLbV7bAC0DjejA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac514b23465487727614e7d3b1e10e57"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1","type":"users","attributes":{"uid":"003V000000VLPZCIA5","first_name":"Dev","last_name":"Auth","profile_image":"//profile-images-staging.galvanize.com/attachments/2c1f18c6929165fc24d6a6d4b6a7f3c9bce90d80/store/profile_crop/200/eyJwb2ludHMiOlsiMzYiLCIzNiIsIjMyNCIsIjMyNCJdLCJ6b29tIjowLjY5NDR9/ede5dcaf3b34a27e6a99c03b7a484b96109ecaa722c0f6459bfef30887dc/0_360.png","email":"dev+auth@galvanize.com","created_at":"2017-05-05T15:27:40.383Z","updated_at":"2017-08-08T21:29:07.939Z","sign_in_count":91,"roles":["auth.app_admin","auth.admin","auth.product_admin"],"product_roles":["01tj0000003h8iLAAQ.instructor"],"data":{"talent":{"key2":"_value2_","key":"blah"},"learn":{"key2":"_value1_"}}},"relationships":{"registrations":{"data":[{"id":"130","type":"registrations"},{"id":"131","type":"registrations"}]},"products":{"data":[{"id":"3","type":"products"},{"id":"3","type":"products"}]}}},"included":[{"id":"130","type":"registrations","attributes":{"role":"instructor","created_at":"2017-08-10T16:28:17.873Z"},"relationships":{"product":{"data":{"id":"3","type":"products"}}}},{"id":"131","type":"registrations","attributes":{"role":"","created_at":"2017-08-10T16:47:38.472Z"},"relationships":{"product":{"data":{"id":"3","type":"products"}}}},{"id":"3","type":"products","attributes":{"uid":"01tj0000003h8iLAAQ","name":"Web
        Development","slug":null,"title":"WEB DEVELOPMENT PHOENIX WAREHOUSE DISTRICT
        - AUGUST 2017","product_type":"24 Week Full-Time Immersive","label":"17-04-WD-PHX","gcode":null,"campus_name":"Phoenix-Warehouse
        District","slack_channel":null,"starts_on":"2017-08-21T06:00:00.000Z","ends_on":"2018-02-09T07:00:00.000Z","created_at":"2017-05-15T20:53:53.259Z"}}]}'
  recorded_at: Thu, 10 Aug 2017 16:49:39 GMT
recorded_with: VCR 3.0.3
