---
http_interactions:
- request:
    method: post
    uri: https://auth-staging.galvanize.com/api/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=<AUTH_CLIENT_ID>&client_secret=<AUTH_CLIENT_SECRET>&scope=user.read
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ec0af8cdc79764f5256c2f4db341ca0"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJHYWx2YW5pemUiLCJpYXQiOjE0OTk0MDEyMTQsImp0aSI6ImE5MjBjZmY1ZmM3YjIyNjNmYmQ2OWRhOTcwZDkxNTY1IiwiZXhwIjoxNDk5NDA4NDE0fQ.ppNq2tFkbTjh0F_X4WTSh2yfR2d1Dq1_Udov5aub2hn5R7JR5Yb09N-2wJEGMTo_g9qaNdAndjYaa6LFBlZqfA","token_type":"bearer","expires_in":7200,"scope":"user.read","created_at":1499401214}'
  recorded_at: Fri, 07 Jul 2017 04:20:14 GMT
- request:
    method: get
    uri: https://auth-staging.galvanize.com/api/v1/users/U00123ABC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJHYWx2YW5pemUiLCJpYXQiOjE0OTk0MDEyMTQsImp0aSI6ImE5MjBjZmY1ZmM3YjIyNjNmYmQ2OWRhOTcwZDkxNTY1IiwiZXhwIjoxNDk5NDA4NDE0fQ.ppNq2tFkbTjh0F_X4WTSh2yfR2d1Dq1_Udov5aub2hn5R7JR5Yb09N-2wJEGMTo_g9qaNdAndjYaa6LFBlZqfA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2807f0de4e740da3e1f1978b4d6de8ea"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1","type":"users","attributes":{"uid":"U00123ABC","first_name":"Dev","last_name":"Auth","email":"dev+auth@galvanize.com","created_at":"2017-05-05T15:27:40.383Z","updated_at":"2017-07-07T04:19:03.788Z","sign_in_count":42,"roles":["app_admin","product_admin","admin"],"data":{}},"relationships":{"products":{"data":[{"id":"9","type":"products"}]}}},"included":[{"id":"9","type":"products","attributes":{"uid":"01tV0000003WPpFIAW","name":"Data
        Science","slug":"data-science","title":"Galvanize Statistics Short-Course
        for Data Science May 30 and June 1","product_type":"Workshop","label":"17-01-WS-DP-ST","gcode":null,"campus_name":"Denver-Platte","slack_channel":null,"starts_on":"2017-05-31T00:00:00.000Z","ends_on":"2017-06-01T00:00:00.000Z"}}]}'
  recorded_at: Fri, 07 Jul 2017 04:20:15 GMT
recorded_with: VCR 3.0.3
